{% extends '_base.html' %}

{% block title %} Blog | all blogs{% endblock %}
  <style>
    .pdf-sheet {
      width: 794px; /* Approx A4 width in pixels at 96dpi */
      height: 1123px; /* Approx A4 height in pixels at 96dpi */
      background-color: white;
      border: 1px solid #ccc;
      margin: 20px auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      padding: 40px;
      overflow: hidden;
    }

    body {
      background-color: #f0f2f5;
    }
  </style>

{% block body %}
<div class="container my-md-5 py-md-5">
  <div class="pdf-sheet">
    {% if blog %}
        <h1>{{blog.title}}</h1>
        <div class="container">
            {{blog.discription | safe }}
        </div>
    {% endif %}
  </div>
</div>



{% endblock %}